header {
    color: #faf2f0;
    background-color: #343a40;
    text-align: center;
    padding: 10px 0;
}

.container-fluid .row div h5 {
    font-weight: bold;
}

#city-date-icon,
#city-name,
#current-icon, 
#forecast-cards
{
    display: flex;
}

#forecast-div {
    margin-top: 20px;
}

#forecast-weather {
    width: 100%;
}

.forecast {
    margin: 20px;
}